################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GateClient/FileContentIndex/f04cd364-15ac-4060-8d36-fd0d0ac3b53a.vsidx
